<div class="container-center">
  <h1 class="page-title">Welcome to myTime <%= current_user.username.capitalize %> </h1>
  <p>Start to manage your time and reach your goals!</p>

  <%= link_to 'New Task', new_task_path, class:'btn btn-sm', id: 'btn-check' %>
</div>
