#btn-check {
  color: #fff;
  background-color: #457b9d;
  &:hover {
    background-color: #a8dadc;
  }
}

#btn-back {
  color: #fff;
  background-color: rgb(104, 129, 104);
  &:hover {
    background-color: #789c81;
  }
}
