@import "colors";

#btn-check {
  color: #fff;
  background-color: $blue-hex;
  &:hover {
    background-color: #a8dadc;
  }
  position: relative;
}

#btn-back {
  color: #fff;
  background-color: rgb(104, 129, 104);
  &:hover {
    background-color: #789c81;
  }
}

#btn-cross {
  color: #fff;
  background-color: $yellow-hex;
  &:hover {
    background-color: #b2ecd4;
  }
  position: relative;
}
