// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "colors";

#navbar-title {
  color: antiquewhite;
  font-size: larger;
  margin-left: 10px;
}

#toggle-style {
  color: antiquewhite;

}
